<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1> {{name}} </h1>
    <table border = "1">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            {%for person in person%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{person.name}}</td>
                <td> 
                {{person.age}}
                {%if person.age <= 18%}
                under aged
                {%elif person.age <= 40%}
                middle aged
                {%elif person.age > 40%}
                old
                {%endif%}
                </td>
                
            </tr>
            
            {%endfor%}
            
        </tbody>
    </table>
</body>
</html>